NEXT_PUBLIC_SUPABASE_URL=https://xvoqxxdpvxmptwjetrax.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2b3F4eGRwdnhtcHR3amV0cmF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNDgzNTAsImV4cCI6MjA5MzkyNDM1MH0.mODAtpMrG6BsGLDJnWODgJ_2niQP4prnj02_eSItJrM
